*{
    margin: 0;
}

.wrap{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 50px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(118, 70, 70, 0.776);
}

.change{
    font-size: 50px;
    color:rgb(104, 184, 214);
    
}

.btn{
    padding: 10px;
    background-color: rgb(27, 86, 141);
    color : white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 5px 5px 6px black;
    transition: 300ms;
}